# Python virtual environment
.venv/
venv/
env/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Pytest cache
.pytest_cache/
.coverage
htmlcov/

# Environment variables / secrets
.env
.env.*

# VS Code local settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Docker / logs
*.log

# Terraform later
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
*.tfvars